
*{
    margin:0;
    padding:0;

}
.booklist{
    list-style: none;
position: absolute;
color: rgba(203, 202, 204, 0.281);
flex-direction: column;
}

ul{
    position: absolute;

    overflow-y: hidden;
    position: fixed;

}