a{
position: sticky;
background-color: rgba(229, 224, 149, 0.582);



}
img{
overflow: auto;

}
div{
width: 100px;
overflow: visible;

animation: screen 1s inherit;
transform: rotateY();
}


@media screen and (max-width: 1300px)
{ 
  body{
    display:flex;
  }
}
